<!doctype html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Upisi</title>  
  </head>  
  <body>  
	{% block register %}  
    {% endblock register %}  
	
	{% block login %}
	{% endblock login %}
	
	{% block home %}
	{% endblock home %}
	
	{% block predmetiStudent %}
	{% endblock predmetiStudent %}
	
	{% block predmetiProfesor %}
	{% endblock predmetiProfesor %}
	
	{% block predmetiAdmin %}
	{% endblock predmetiAdmin %}
	
	{% block studenti %}
	{% endblock studenti %}
	
	{% block profesori %}
	{% endblock profesori %}
	
	{% block dodajKorisnika %}
	{% endblock dodajKorisnika %}
	
	{% block urediStudent %}
	{% endblock urediStudent %}
	
	{% block urediProfesor %}
	{% endblock urediProfesor %}
	
	{% block urediPredmet %}
	{% endblock urediPredmet %}
	
	{% block studentiPredmet %}
	{% endblock studentiPredmet %}
	
	{% block promjeniStatusProfesor %}
	{% endblock promjeniStatusProfesor %}
	
	{% block promjeniStatusAdmin %}
	{% endblock promjeniStatusAdmin %}
	
	{% block dodajPredmet %}
	{% endblock dodajPredmet %}
	
	{% block urediUpisniList %}
	{% endblock urediUpisniList %}
	
	{% block IzradiUpis %}
	{% endblock IzradiUpis %}
	
	{% block studentiIspis %}
	{% endblock studentiIspis%}
	
	{% block filtriranje %}
	{% endblock filtriranje %}
	
	{% block statistika %}
	{% endblock statistika %}
  </body>  
</html> 