{% extends 'base.html' %}

{% block predmetiAdmin %}

{% if request.user.uloga_id == 6 %}
	<a href="{% url 'logout' %}">Logout</a>
	<a href="{% url 'predmetiAdmin' %}">Predmeti</a>
	<a href="{% url 'studenti' %}">Studenti</a>
	<a href="{% url 'profesori' %}">Profesori</a>
	<h1>Predmeti</h1>
	<table border="1">
	{% for predmet in predmeti %}
			<tr>
				<td>{{ predmet.name }}</td>
				<td> <a href="{% url 'studentiPredmet' predmet_id=predmet.id %}">Popis studenata</a></td>
				<td> <td> <a href="{% url 'urediPredmet' predmet_id=predmet.id %}"> Uredi predmet </a> </td></td>
			</tr>
	{% endfor %}
	</table>
	<a href="{% url 'dodajPredmet' %}">Dodaj novi predmet</a>
{% else %}
	<h2>Nemate pravo pristupa</h2>
{% endif %}


{% endblock predmetiAdmin %}